{% extends "base.pug" %}
{% block content %}
.language-selector
    label(for="language").label Language
    br
    select(id="language")
        option(value="none") None
        option(value="python") Python
        option(value="java") Java
        option(value="javascript") JavaScript
        option(value="cpp") C++
        option(value="csharp") C#
        option(value="latex") LaTeX
.title
    label(for="title").label Title
    br
    input(id="title", type="text")
.code
    label(for="code").label Code
    br
    textarea(id="code")
.submit
    input(id="submit", type="button", value="Save code")
{% endblock %}
{% block scripts_after %}
script(src="{{ url_for('static', filename='js/main.js') }}")
{% endblock %}